extends layout

block content
  script(src='http://code.jquery.com/jquery-1.11.1.min.js')
  script(type='text/javascript', src='/javascripts/new.js')
  div(class="wrapper")
    div(id="kekka")
    div(id="questionHead")
    div(id="question")
    div(id="buttons")
      input(type="button", class="button", value="◯", onclick="judgement(1)")
      input(type="button", class="button", value="✕", onclick="judgement(2)")